ion-content.background{
  --background: url('../../../../assets/images/medico3.png') 0 0/100% 100% no-repeat;
  // opacity: 0.5;
  // --background: var(--back-color);
}

ion-item{
  margin-bottom: 10px;
}

ion-label {
  margin-left: 5px;
}