<ion-content class="background">
  <main class="wrapper">
    <div class="inner">
      <ion-img
        class="image-ico"
        id="img-logo"
        src="assets/images/logo_cuidame.svg"
      ></ion-img>
      <div>
        <p class="info">
          Te ayudaremos a recuperar tu contraseña, por favor, ingresa tu nueva
          contraseña.
        </p>

        <form>
          <ion-list mode="md">
            <div class="item">
              <ion-label color="primary">Nueva Contraseña</ion-label>
              <ion-input
                type="password"
                name="newPassword"
                required
                [(ngModel)]="newPassword"
                [type]="getType()"
                #newPasswordInput="ngModel" 
              >
                <ion-icon
                  [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
                  slot="end"
                  (click)="toggleTextPassword()"
                  class="password-toggle-icon"
                ></ion-icon>
              </ion-input>
              <ion-note color="danger" style="margin-top: 2%;" *ngIf="newPasswordInput.invalid && newPasswordInput.dirty">
                La contraseña debe tener al menos 8 caracteres.
              </ion-note>
            </div>
            
            <div class="item">
              <ion-label color="primary">Confirma Nueva Contraseña</ion-label>
              <ion-input
                type="password"
                name="repassword"
                required
                [(ngModel)]="confirmPassword"
                [type]="getType(true)"
                #confirmPasswordInput="ngModel" 
              >
                <ion-icon
                  [name]="showPasswordConfirm ? 'eye-outline' : 'eye-off-outline'"
                  slot="end"
                  (click)="toggleTextPassword(true)"
                  class="password-toggle-icon"
                ></ion-icon>
              </ion-input>
              <ion-note color="danger" *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.dirty" style="margin-top: 2%;">
                La contraseña debe tener al menos 8 caracteres.
              </ion-note>
            </div>
            
            <ion-note color="danger" *ngIf="!passwordsMatch">
              Las contraseñas no coinciden.
            </ion-note>
          </ion-list>
        </form>

        <section id="buttons">
          <div class="button" (click)="resetPassword(newPassword)">
            <label>Cambiar Contraseña</label>
          </div>
        </section>
      </div>
    </div>
  </main>
</ion-content>
