.container-col {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-greeting {
  font-family: "Quicksand", sans-serif;
  margin: 7% 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #275289;

  .greeting-labels {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .greeting {
    font-weight: bold;
    font-size: 1.3rem;
  }

  .greeting-time {
    @extend .greeting;
    font-weight: lighter;
    font-size: 2.5rem;
  }

  .logo {
    width: 20%;
  }
}

.flex-grow {
  flex-grow: 1;
}

.flag {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column-reverse;
  width: 100%;
  height: auto;
  transform: translateY(-10%);
}

.flag-inside {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 70px;
  height: 100px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background-image: url("/assets/pets/bg_vertical_blue.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  margin-top: 0;
}

.flag-icon {
  width: 40%;
  height: auto;
  order: -1;
}

.flag-text {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: #236495;
  margin: 5% 0 25% 0;
  font-size: 12px;
}

.info {
  text-align: center;
  color: #275289;
  font-size: 1.4rem;
}

.horizontal-fields-container {
  display: flex;
  justify-content: space-between;
  flex: wrap;
}

.item.horizontal-fields {
  flex-basis: calc(50% - 5px);
}

.item.horizontal-fieldsv2 {
  flex-basis: calc(50% - 5px);
}

.item.horizontal-fields-id {
  flex-basis: calc(100% - 5px);
  margin-bottom: 10px;

  ion-select {
    margin-left: 10px;
  }
}

h1 {
  color: var(--ion-color-primary);
  font-weight: bold;
  font-size: 34px;
  margin-top: 15%;
}

p {
  font-family: "Quicksand Bold";
  padding: 0 0% 5% 0%;
}

.item {
  .blue-select {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    margin: 0px 0px 0px auto;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    background-image: url("/assets/pets/bg_blue_large.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    border: none;
    padding: 0 0 0 5px;
  }

  .blue-select label {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    margin: 0 0 0 10px;
    font-size: 25px;
  }

  .input-orange {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    margin: 0px 0px 0px auto;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    background-image: url("/assets/pets/bg_orange_large.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    border: none;
    padding: 0 0 0 5px;
  }

  ion-select {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;

    margin: 0px 0px 0px auto;

    width: 100%;
    height: 50px;

    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    background-image: url("/assets/pets/bg_orange_short.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;

    label {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      margin: 0 0 0 10px;
      font-size: 25px;
    }
  }

  ion-select.species {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;

    margin: 0px 0px 0px auto;

    width: 100%;
    height: 50px;

    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    background-image: url("/assets/pets/bg_blue_short.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;

    label {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      margin: 0 0 0 10px;
      font-size: 25px;
    }
  }

  ion-select.temperament {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;

    margin: 0px 0px 0px auto;

    width: 100%;
    height: 50px;

    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    background-image: url("/assets/pets/bg_blue_short.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;

    label {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      margin: 0 0 0 10px;
      font-size: 25px;
    }
  }

  ion-label {
    margin: 18px 10px 8px 10px;
    color: #275289;
    font-family: "Quicksand", sans-serif;
    font-weight: lighter;
    font-size: 1rem;
  }

  ion-input {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;

    margin: 0px 0px 0px auto;

    width: 100%;
    height: 50px;

    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    background-image: url("/assets/pets/bg_blue_large.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;

    label {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      margin: 0 0 0 10px;
      font-size: 25px;
    }
  }

  ion-textarea {
    display: flex;
    align-items: start;
    position: relative;

    margin: 5px 0px 5px 0px;
    text-align: start;
    border-radius: 20px;
    border: 1px solid #d8e7ee;
    font-size: 15px;
    color: #fff;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
    background-image: url("/assets/pets/bg-blue-text-area.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    //box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    .textarea-wrapper {
      display: contents !important;
      width: 5%;
    }
  }

  a {
    font-size: 15px;
    letter-spacing: 0.5px;
    text-decoration: none;
  }
}

.sticker-info {
  display: flex;
  align-items: start;
  width: 35%;
  flex-direction: column;
}

.sticker {
  width: 80px;
  height: auto;
}

.sticker-label {
  color: #549ebd;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}

.pet-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 0 10% 0;
}

.circle {
  width: 30vw;
  height: 30vw;
  max-width: 150px;
  max-height: 150px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.circle ion-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.small-circle {
  width: 25%;
  padding-bottom: 25%;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 5%;
  margin: 0 10% 0 0;
  right: 0%;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.camera-ico {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media (max-width: 768px) {
  .circle {
    width: 50vw;
    height: 50vw;
  }
}

#img-logo {
  height: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.buttons {
  position: fixed;
  bottom: 0;
  left: 3%;
  width: 95%;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20%;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;

    margin: 15px 0px 0px 0;

    width: 100%;
    height: 50px;

    border-radius: 100px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    background-image: url("/assets/images/bg_btn_login.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    padding: 10px;

    label {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
@media only screen and (max-width: 389px) {
  .buttons {
    position: static;
    margin-bottom: 5%;
    width: 100%;
  }
}

@media only screen and (max-width: 390px) {
  .buttons {
    position: static;
    width: 100%;
  }
}

@media screen and (min-width: 540px) and (min-height: 600px) {
  .buttons {
    position: static;
    width: 100%;
  }
}

@media screen and (min-width: 390px) and (min-height: 600px) {
  .buttons {
    position: static;
    width: 100%;
  }
}

#save-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;

    margin: 15px 0px 0px 0;

    width: 100%;
    height: 50px;

    border-radius: 100px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    background-image: url("/assets/images/bg_btn_login.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    padding: 10px;

    label {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .button:active {
    transform: translateY(4px);
  }
}

.plus-add-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.plus-add {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 140px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
  background: #fff;

  label {
    color: #549ebd;
    font-size: 1.8rem;
    font-weight: lighter;
  }
}
.plus-add:active {
  transform: translateY(4px);
}

.orange-select {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  margin: 0px 0px 0px auto;
  width: 100%;
  height: 50px;
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background-image: url("/assets/pets/bg_orange_short.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  border: none;
  padding: 0 0 0 5px;
}

.orange-select label {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  margin: 0 0 0 10px;
  font-size: 25px;
}

.loader {
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 50%;
  color: #ff3d00;
  animation: fill 1s ease-in infinite alternate;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  left: 48px;
  top: 0;
  animation: fill 0.9s ease-in infinite alternate;
}

.loader::after {
  left: auto;
  right: 48px;
  animation-duration: 1.1s;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 0 2px inset;
  }
  100% {
    box-shadow: 0 0 0 10px inset;
  }
}
