.pet {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
  align-items: center;
}

.rectangle {
  width: 348px;
  height: 442px;
  background-color: #fff;
  border-radius: 25px;
  // box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 360px) {
  .rectangle {
    width: 319px;
  }
}

@media only screen and (max-width: 280px) {
  .rectangle {
    width: 250px;
  }
  .pet-card{
    top: -210px;;
  }
}

.circle ion-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.edit-container {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  top: 50px;
  width: 348px;

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1;

    ion-icon {
      font-size: 2rem;
    }
  }
}

.pet-card {
  position: relative;
  width: 348px;
  height: 240px;
  border-radius: 20px;
  max-width: 100%;
  background-image: url("/assets/pets/bg-orange-mlarge.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;

  top: -150px;

  font-family: "Quicksand", sans-serif;

  
}

.pet-container {
  .pet-photo {
    width: 348px;
    height: 442px;
    overflow: hidden;
  }
}

.pet-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  padding: 20px;
  color: #fff;
}

.pet-header {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin: 0 0 10px 0;
}

.pet-name {
  font-weight: bold;
  font-size: 1.8rem;
  margin-right: 15px;
}

.pet-breed {
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
}

.pet-content {
  display: flex;
  margin: 0 0 10px 0;
  font-size: 1.2rem;

  .left-card {
    label {
      font-size: 15px;
    }
    display: flex;
    align-items: center;
    justify-content: start;
    width: 160px;
    height: 30px;
    padding: 0 0 0 10px;
    border-radius: 100px;
    margin: 0 10px 0 0;

    background-image: url("/assets/pets/bg-green-short.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;

  }
  .right-card {
    label {
      font-size: 15px;
    }
    display: flex;
    align-items: center;
    justify-content: start;
    width: 180px;
    height: 30px;
    padding: 0 0 0 10px;
    border-radius: 100px;

    background-image: url("/assets/pets/bg-green-short.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
  }
}

.pet-scontent {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0 0 15px 0;

  .pet-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px 0 0;

    .pet-title {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 0 0 5px 0;
    }
    .pet-desc {
      font-size: 1rem;
    }
  }
}

.pet-address {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;

  img {
    margin-right: 10px;
  }

  label {
    font-weight: bold;
    font-size: 1.3rem;
  }
}

.owner-content {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  top: -110px;
  color: #275289;

}

.owner {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;

  .owner-title {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .owner-desc {
    font-family: "Quicksand", sans-serif;
    font-size: 1.1rem;
  }
}

.advertising {
  font-family: "Quicksand", sans-serif;
  position: relative;
  margin: 10px 0px 5px 0px;
  text-align: start;
  border-radius: 20px;
  border: 1px solid #d8e7ee;
  background-color: #fff;
  font-size: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 3%;
  --min-height: 50px;
  --max-height: unset;
  color: #275289;
  overflow-y: hidden;
  top: -90px;

  .textarea-wrapper {
    padding: 0;
    margin: 0;
    border: none;
  }

  .ad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: inherit;
  }
  label {
    font-weight: bold;
    font-weight: lighter;
    font-size: 1.5rem;
    text-align: center;
  }
}

ion-spinner {
  color: #fff;
  width: 100px;
  height: 100px;
}