<div class="info">
  <p>Por favor, ingresa los datos de medicamentos de tu mascota.</p>
</div>

<form #treatmentForm="ngForm">
  <ion-list mode="md">
    <div class="item">
      <ion-label>Tipo de Tratamiento</ion-label>
      <select
          interface="popover"
          class="blue-select"
          name="typetreatment"
          [(ngModel)]="treatment.typetreatment"
          required
          ngDefaultControl
        >
          <option value="Medicado">Medicado</option>
          <option value="Terapéutico">Terapéutico</option>
          <option value="Higiene y Cuidado">Higiene y Cuidado</option>
        </select>
    </div>

    <div class="item">
      <ion-label>Nombre</ion-label>
      <ion-input
        type="text"
        name="name"
        maxlength=30
        [(ngModel)]="treatment.name"
        required
        ngDefaultControl
      ></ion-input>
    </div>
    <div class="horizontal-fields-container">
      <div class="item horizontal-fields">
        <ion-label>Estado</ion-label>
        <select
            interface="popover"
            class="orange-select"
            name="status"
            [(ngModel)]="treatment.status"
            required
            ngDefaultControl
          >
            <option value="Sin iniciar">Sin iniciar</option>
            <option value="En Tratamiento">En Tratamiento</option>
            <option value="Finalizado">Finalizado</option>
          </select>
      </div>
    </div>

    <div class="horizontal-fields-container">
      <div class="item horizontal-fields">
        <ion-label>Fecha de Incio</ion-label>
        <ion-input
          type="date"
          class="input-orange"
          name="startdate"
          [(ngModel)]="treatment.startdate"
          required
          ngDefaultControl
        >
        </ion-input>
      </div>

      <div class="item horizontal-fields">
        <ion-label>Fecha de Fin</ion-label>
        <ion-input
          type="date"
          class="input-orange"
          name="enddate"
          [(ngModel)]="treatment.enddate"
          required
          ngDefaultControl
        ></ion-input>
      </div>
    </div>

    <div class="item">
      <ion-label>Programar Fecha o Frecuencia</ion-label>
      <ion-input
          interface="popover"
          class="input-orange"
          name="frequency"
          maxlength=50
          [(ngModel)]="treatment.frequency"
          required
          ngDefaultControl
        >
        </ion-input>
    </div>
  </ion-list>
  <div class="buttons">
    <button class="button" (click)="update(treatmentForm)">
      <label>Actualizar</label>
    </button>
  </div>
</form>