// #container{

//   background-image: url("/assets/images/degrade1.png");
//   // background-repeat:no-repeat;
//   background-position: center center;
//   width: 100%;
//   height: 700px;
//   margin: 0px;

// }

ion-content.background{
  --background: url('/assets/images/fondo.svg') ;
}

#head{

  margin: 50px auto 0 auto;
  width: 80%;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #2752894D;
  border-radius: 15px;
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  h1 {
    letter-spacing: 0px;
    color: var(--text-color);
    text-align: center;
  }
}

#container {

  max-width: 600px;
  position: absolute;
  width: 100%;
  height:70%;
  background-image: url("/assets/images/degrade1.png");
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat;
  text-align:center;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;



  #logo-image{
    margin-top: 8%;
    width: 30%;
  }

  .btn-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    // font-size: 22px;


    .button:active {
      // background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);


    }



    .button{
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;


      margin: 15px auto 15px auto;
      padding: 20px 0 20px 0;
      // background-color: #348DEE;
      width: 82%;
      height: 100px;

      border-radius: 12px;
      font-weight: bold;
      box-shadow: 0 5px #666;

      background-image: url("/assets/images/bgbtn.svg");
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
      opacity: 1;

      .ico{
        width: 40px;
        height: 40px;
        margin-right: 15px;
      }

      .ico2{
        width: 42px;
        height: 42px;
        margin-right: 15px;
        margin-left: 30px;
      }

    }



  }

  .nav-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; //importante
    position: absolute;
    bottom: 5%;
    --background: transparent;

    ion-icon{
      margin-left: 20px;
      margin-right: 20px;
      position: initial;
      color: var(--icon-color);
      font-size: 60px;
    }
    }

}




