<div class="flex-container">
  <ion-tab-bar slot="bottom" [ngClass]="{'ion-tab-bar':  isUrlInArray(urls), '': !isUrlInArray(urls)}">
    <ion-tab-button
      class="button"
      (click)="goBack()"
      [disabled]="!enableBackButton"
    >
      <ion-icon
        class="ion-icon"
        *ngIf="enableBackButton"
        src="/assets/images/btn_back_arrow.svg"
      ></ion-icon>
    </ion-tab-button>
    <ion-tab-button
      class="button"
      [disabled]="!enableMiddleButton"
      (click)="menu()"
    >
      <ion-icon
        class="ion-icon"
        *ngIf="enableMiddleButton"
        src="/assets/images/btn_menu.svg"
      ></ion-icon>
    </ion-tab-button>
    <ion-tab-button
    (click)="exitApp()"
      class="button"
      routerLink="/initial"
      [disabled]="!enableExitButton"
    >
      <ion-icon
        class="ion-icon"
        *ngIf="enableExitButton"
        src="/assets/images/btn_exit.svg"
      ></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</div>
