<app-greeting></app-greeting>
<div>

  <div class="cat-container" *ngIf="pacientOrPet">
    <img class="cat" src="/assets/pets/care/catdog.svg" alt="cat" />
  </div>

  <div *ngIf="pacientOrPet">
    <div class="button" (click)="goToPetInfo()">
      <img class="icon" src="/assets/pets/ico_edit_info.svg" />
      <label>Gestiona Información de {{pet.nombre}}</label>
    </div>
    <div class="button" (click)="goToPetCare()">
      <img class="icon" src="/assets/pets/pet_square.svg" />
      <label>Gestiona el cuidado de {{pet.nombre}}</label>
    </div>
  </div>

  <div  *ngIf="!pacientOrPet"> 
    <div class="button" (click)="goToPersonInfo()">
      <img class="icon" src="/assets/pets/ico_edit_info.svg" />
      <label>Gestiona Información de {{personName}}</label>
    </div>
    <!-- <div class="button" (click)="goToPersonCare()">
      <img class="icon" src="/assets/pets/pet_square.svg" />
      <label>Gestiona el cuidado de {{personName}}</label>
    </div> -->
  </div>
</div>
