// #container{

//   background-image: url("/assets/images/degrade1.png");
//   // background-repeat:no-repeat;
//   background-position: center center;
//   width: 100%;
//   height: 700px;
//   margin: 0px;

// }

ion-content{
  --ion-background-color: #D8E7EE;

}

#head{

  margin: 50px auto 0 auto;
  width: 80%;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #2752894D;
  border-radius: 15px;
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  h1 {
    letter-spacing: 0px;
    color: var(--text-color);
    text-align: center;
    // font-size: 8vw;
  }
}

#container {

  position: absolute;
  max-width: 600px;
  width: 100%;
  height: 86%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/assets/images/degrade1.png");
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat;
  text-align:center;
  bottom: 0px;
  left: 0;
  right: 0;
  // margin: auto;



  #logo-image{
    margin-top: 8%;
    width: 30%;
  }

  .btn-container{
    display: flex;
    flex-direction: column;
    // justify-content: end;
    // font-size: 5vw;

    .button:active {
      // background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }



    .button{
      display: flex;
      align-items: center;
      justify-content: start;
      color: white;


      margin: 15px auto 15px auto;
      padding: 20px 0 20px 0;
      width: 82%;
      height: 100px;

      border-radius: 12px;
      box-shadow: 0 5px #666;

      background-image: url("/assets/images/bgbtn.svg");
      // background-size: 100% 100%;
      background-position: top;
      background-repeat: no-repeat;
      background-size:cover;
      opacity: 1;

      .ico{
        width: 40px;
        height: 40px;
        margin-right: 15px;
        margin-left: 30px;
      }

      p{
        margin-left: 20px;
      }

      #emergency-btn{

        p{
          margin: 0;
        }

        display: flex;
        flex-direction: column;

        span{
          font-family: 'Quicksand Light';
        }
      }

    }
    .bg2-button{
      background-image: url("/assets/images/bgbtn2.png");
      width: 82%;
      height: 75px;
    }

  }

  .nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: end;
    justify-items: end;
  }

  .nav-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    // position: relative;
    // bottom: 5%;
    --background: transparent;
    justify-items: end;
    ion-icon{
      margin-left: 20px;
      margin-right: 20px;
      position: initial;
      color: var(--icon-color);
      font-size: 60px;
    }
    }

}




