.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  width: 167px;
  position: relative;
  height: 245px;
  background-color: #fff;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 2;

  .background-img {
    width: 167px;
    height: 245px;
    transform: scale(1.5);
    overflow: hidden;
  }
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
}


.background-gradient {
    position: absolute;
    height: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, #F96910, transparent);
    z-index: 1;
    opacity: 0.8;
  }

.title {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  top: -70px;
  left: 20px;
  width: 150px;
  height: 20px;
  position: relative;
  z-index: 3;

  label {
    width: 100%;
    text-align: left;
    font-family: "Quicksand Bold";
    font-weight: bold;
    color: #fff;
    font-size: 1.3rem;
  }
}

.orange-gradient {
  position: relative;
  width: 167px;
  height: 245px;
  top: -260px;
  left: 10px;
}

.position {
  top: -55px;
}

.health-position {
  top: -45px;
}

.card-container:active {
  transform: translateY(4px);
  transition: transform 0.2s;
}