ion-content.background {
  --background: url("/assets/images/fondo.svg");
}

ion-content.white-background {
  --background: #fff;
}

.bottom-bar {
  background-color: #d8e7ee;
}

main {
  background-color: #fff;
  position: absolute;
  width: 100%;
  padding: 0 5% 0 5%;
  display: flex;
  height: max-content;
  flex-direction: column;
  justify-content: space-between;

  .horizontal-fields-container {
    display: flex;
    justify-content: space-between;
  }

  .item.horizontal-fields {
    flex-basis: calc(50% - 2%);
  }

  .item.horizontal-fieldsv2 {
    flex-basis: calc(50% - 23px);
  }

  .item {
    ion-label {
      margin: 18px 10px 8px 10px;
      color: #275289;
      font-family: "Quicksand", sans-serif;
      font-size: 18px;
    }

    ion-textarea {
      position: relative;
      margin: 5px 0px 5px 0px;
      text-align: start;
      border-radius: 20px;
      border: 1px solid #d8e7ee;
      font-size: 15px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      padding: 3%;
      --min-height: 50px;
      --max-height: unset;
      overflow-y: hidden;

      .textarea-wrapper {
        padding: 0;
        margin: 0;
        border: none;
      }
    }

    a {
      font-size: 15px;
      letter-spacing: 0.5px;
      text-decoration: none;
    }
  }
}

.main {
  background-color: transparent;
  position: absolute;
  width: 100%;
  padding: 0 5% 0 5%;
  display: flex;
  height: max-content;
  flex-direction: column;
  justify-content: space-between;

  .horizontal-fields-container {
    display: flex;
    justify-content: space-between;
  }

  .item.horizontal-fields {
    flex-basis: calc(50% - 2%);
  }

  .item.horizontal-fieldsv2 {
    flex-basis: calc(50% - 23px);
  }

  .item {
    ion-label {
      margin: 18px 10px 8px 10px;
      color: #275289;
      font-family: "Quicksand", sans-serif;
      font-size: 18px;
    }

    ion-textarea {
      position: relative;
      margin: 5px 0px 5px 0px;
      text-align: start;
      border-radius: 20px;
      border: 1px solid #d8e7ee;
      font-size: 15px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      padding: 3%;
      --min-height: 50px;
      --max-height: unset;
      overflow-y: hidden;

      .textarea-wrapper {
        padding: 0;
        margin: 0;
        border: none;
      }
    }

    a {
      font-size: 15px;
      letter-spacing: 0.5px;
      text-decoration: none;
    }
  }
}