


ion-content.background{
  --background: url('/assets/images/fondo.svg') ;
}

.btn-wrapper {
  text-align: end;
}



.label{
  color: var(--ion-color-primary);
  font-weight: bold;
}

form{
  // position: absolute;
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  bottom: 180px;
  // right: 0px;
  // left: 0px;

  #cc{
    // position: absolute;
    // bottom: 180px;
    // right: 0;
    // left: 0;
  }

}

ion-item{
  border-radius: 3px;
  height: 50px;
  border: 1px solid var(--text-color);
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.12);
  --highlight-height: 0px;
  margin: 0 auto 10px auto;

  ion-input{
    font-size: 15px;
    --pading-top: 15px;
    --pading-bottom: 15px;
    --pading-start: 5px;
  }

  a {
    font-size: 15px;
    letter-spacing: 0.5px;
    text-decoration: none;
  }
}

#container {

  position: absolute;
  width: 100%;
  height:100%;

  //Siguientes cuatro lineas movidas a clases dinamicas para cambiar fondo
  // background-image: url(/assets/images/medica2.png),url(/assets/images/degrade1.png);
  // background-size: 100% 60%, 100% 120%;
  // background-position: bottom, top;
  // background-repeat: no-repeat, no-repeat;
  text-align:center;
  bottom: 0;



  #logo-image{
    margin-top: 8%;
    width: 30%;
    max-width: 200px;
  }

  .btn-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    // font-size: 22px;


    .button:active {
      // background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);


    }

    .button{
      display: flex;
      align-items: center;
      justify-content: start;
      color: white;


      margin: 15px auto 15px auto;
      padding: 20px 0 20px 0;
      // background-color: #348DEE;
      width: 82%;
      height: 100px;

      border-radius: 12px;
      // font-weight: bold;
      box-shadow: 0 5px #666;

      background-image: url("/assets/images/bgbtn.svg");
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
      opacity: 1;

      .ico{
        width: 40px;
        height: 40px;
        margin-right: 15px;
        margin-left: 30px;
      }

      p{
        margin-left: 20px;
      }


    }
    .bg2-button{
      // position: absolute;
      bottom: 100px;
      // left: 0;
      // right: 0;
      background-image: url("/assets/images/bgbtn2.png");
      width: 82%;
      height: 75px;
    }

    #emergency-btn{

      p{
        margin: 0;
      }

      display: flex;
      flex-direction: column;

      span{
        font-family: 'Quicksand Light';
      }
    }


  }

  .nav-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    // position: relative;
    // bottom: 5%;
    --background: transparent;
    justify-items: end;

    ion-icon{
      margin-left: 20px;
      margin-right: 20px;
      position: initial;
      color: var(--icon-color);
      font-size: 60px;
    }
    }

}

//Clases para fontos

.fondo-cop{
  background-image: url(/assets/images/policia2.png),url(/assets/images/degrade1.png);
  background-size: 100% 60%, 100% 120%;
  background-position: bottom, top;
  background-repeat: no-repeat, no-repeat;
}

.fondo-med{
  background-image: url(/assets/images/medica2.png),url(/assets/images/degrade1.png);
  background-size: 100% 60%, 100% 120%;
  background-position: bottom, top;
  background-repeat: no-repeat, no-repeat;
}

.fondo-bombero{
  background-image: url(/assets/images/bombero2.png),url(/assets/images/degrade1.png);
  background-size: 100% 60%, 100% 120%;
  background-position: bottom, top;
  background-repeat: no-repeat, no-repeat;
}








