// ion-content{
//   --ion-background-color: #D8E7EE;

// }

ion-list{

  margin-left: 5%;
  margin-right: 5%;

  .par{
    border-radius: 10px;
    background-color: #CBE9F7;
  }
   .impar{
    border-radius: 10px;
    background-color: white;
  }

}

ion-content.background{
  --background: url('/assets/images/fondo.svg') ;
}

.color-transparent{
  --ion-item-background: rgba(0, 0, 0, 0);
}

#head{

  margin: 50px auto 0 auto;
  width: 80%;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #2752894D;
  border-radius: 15px;
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 10px;

  h1 {
    letter-spacing: 0px;
    color: var(--text-color);
    text-align: center;
  }
}

#container {
  z-index: 0;
  position: absolute;
  max-width: 600px;
  width: 100%;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/assets/images/degrade1.png");
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
  bottom: 0px;
  left: 0;
  right: 0;
  // padding: 0 5% 0 5%;
  // margin: auto;

  #logo-image{
    margin-top: 8%;
    width: 30%;
  }

  .nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: end;
    justify-items: end;
  }

  .nav-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    // position: relative;
    // bottom: 5%;
    --background: transparent;
    justify-items: end;
    ion-icon{
      margin-left: 20px;
      margin-right: 20px;
      position: initial;
      color: var(--icon-color);
      font-size: 60px;
    }
    }

    ion-item::part(native) {
      border-radius: 20px;
    }

    .desc p{
      text-align: initial;
      margin-left: auto;
      margin-right: auto;
      // color: pink;
      width: 90%;
    }

}

ion-card{
  width: 80%;
  align-items: initial;
  text-align: initial;
  margin-left: auto;
  margin-right: auto;
}

#span-card{
  font-weight: bold;
  font-size: 17px;
  margin: 0;
  padding: 0;
  text-align: right;

}

#label-card{
  width: 40%;
  padding: 0;
  text-align: right;
  margin: 0;
  font-size: 13px;
  color: var(--text-color);
  font-family: 'Quicksand Light';
  text-align: right;

}

.item-placeholder{



  background-color: pink;
  color: yellow;
  ion-select{
    --placeholder-color: blue;
    background-color: green;
  }

}




.scrolldiv{
  height: 100%;
  overflow:auto;
  background:#fff;
}


.button:active {
  // background-color: #3e8e41;
  box-shadow: 0 5px #666;
  left: 50%;
  transform: translate(-50%, 4px);
  // transform: translateY(4px);


}

.button{

  max-width: 420px;
  position: fixed;
  z-index: 1;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  // margin: 15px auto 15px auto;
  padding: 20px 0 20px 0;
  width: 72%;
  height: 65px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  font-weight: bold;
  box-shadow: 0 5px #666;

  background-image: url("/assets/images/bgbtn.svg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  opacity: 1;

  .ico{
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }

}




