<ion-content class="background">
  <ion-img id="img-logo" src="assets/images/logo_cuidame.svg"></ion-img>
  <main>
    <div class="info">
      <p>
        Gracias por adquirir nuestros servicios. A continuación puedes registrar
        los datos de la cuenta.
      </p>
    </div>
    <!-- <p class="ion-margin">A continuación ingresa tus datos de registro y autenticación, ten en cuenta que estos son los datos de inicio de sesión, más no los de la persona que usará la banda.</p> -->
    <form #fRegister="ngForm">
      <ion-list mode="md">
        <div class="horizontal-fields-container">
          <div class="item horizontal-fields">
            <ion-label color="primary">Nombres</ion-label>
            <ion-input
              type="text"
              name="name"
              required
              [(ngModel)]="registerO.name"
            ></ion-input>
          </div>

          <div class="item horizontal-fields">
            <ion-label color="primary">Apellidos</ion-label>
            <ion-input
              type="text"
              name="lastname"
              required
              [(ngModel)]="registerO.lastname"
            ></ion-input>
          </div>
        </div>

        <div class="horizontal-fields-container">
          <div class="item">
            <ion-label color="primary" class="select-label"
              >Identificación</ion-label
            >
            <ion-select
              interface="popover"
              name="typeID"
              required
              [(ngModel)]="registerO.typeID"
            >
              <ion-select-option
                *ngFor="let item of tiposID"
                value="{{item.valor}}"
                required
                >{{item.etiqueta}}</ion-select-option
              >
            </ion-select>
          </div>

          <div
            class="item horizontal-fields-id"
            *ngIf="registerO.typeID !== 'pasaporte'"
          >
            <ion-label color="primary">&nbsp;</ion-label>
            <ion-input
              type="number"
              name="numberID"
              required
              [(ngModel)]="registerO.numberID"
            ></ion-input>
          </div>

          <div
            class="item horizontal-fields-id"
            *ngIf="registerO.typeID === 'pasaporte'"
          >
            <!-- <ion-icon color="primary" slot="start" name="id-card-outline"></ion-icon> -->
            <ion-label color="primary">&nbsp;</ion-label>
            <ion-input
              type="text"
              name="numberID"
              required
              [(ngModel)]="registerO.numberID"
            ></ion-input>
          </div>
        </div>

        <div class="item">
          <ion-label color="primary">Dirección</ion-label>
          <ion-input
            type="text"
            name="address"
            required
            [(ngModel)]="registerO.address"
          ></ion-input>
        </div>

        <div class="horizontal-fields-container">
          <div class="item horizontal-fields">
            <ion-label color="primary">Departamento</ion-label>
            <ion-select
              interface="popover"
              name="department"
              required
              (ionChange)="onDepartmentChange($event)"
              [(ngModel)]="selectedDepartment"
            >
              <ion-select-option
                *ngFor="let department of departments"
                [value]="department.id"
                required
              >
                {{ department.name }}
              </ion-select-option>
            </ion-select>
          </div>

          <div class="item horizontal-fields">
            <ion-label color="primary">Ciudad</ion-label>
            <ion-select
              interface="popover"
              name="city_id"
              [(ngModel)]="selectedCityId"
              required
            >
              <ion-select-option
                *ngFor="let township of townships"
                [value]="township.id"
                required
              >
                {{ township.name }}
              </ion-select-option>
            </ion-select>
          </div>
        </div>

        <div class="item">
          <!-- <ion-icon color="primary" slot="start" name="call-outline"></ion-icon> -->
          <ion-label color="primary">Teléfono</ion-label>
          <ion-input
            type="number"
            name="phone"
            required
            [(ngModel)]="registerO.phone"
          ></ion-input>
        </div>

        <div class="item">
          <!-- <ion-icon color="primary" slot="start" name="mail-open-outline"></ion-icon> -->
          <ion-label color="primary">Email</ion-label>
          <ion-input
            type="email"
            name="email"
            required
            [(ngModel)]="registerO.email"
          ></ion-input>
        </div>

        <div class="item">
          <!-- <ion-icon color="primary" slot="start" name="lock-closed-outline"></ion-icon> -->
          <ion-label color="primary">Contraseña</ion-label>
          <div style="display: flex; align-items: stretch; width: 100%">
            <ion-input
              type="password"
              name="password"
              required
              [(ngModel)]="registerO.password"
              type="{{ passwordVisible ? 'text' : 'password' }}"
            ></ion-input>
          </div>
        </div>

        <div class="item">
          <!-- <ion-icon color="primary" slot="start" name="lock-closed"></ion-icon> -->
          <ion-label color="primary">Confirmar la contraseña</ion-label>
          <div style="display: flex; align-items: stretch; width: 100%">
            <ion-input
              type="password"
              name="confirmPassword"
              required
              [(ngModel)]="registerO.confirmPassword "
              type="{{ passwordVisible ? 'text' : 'password' }}"
            >
            </ion-input>
          </div>
        </div>

        <ion-item lines="none" class="show-pass">
          <ion-checkbox
            (click)="togglePasswordVisibility()"
            mode="ios"
            slot="start"
          ></ion-checkbox>
          <ion-label style="margin: 0">Mostrar contraseña</ion-label>
        </ion-item>
      </ion-list>
    </form>

    <section class="terms">
      <ion-checkbox
        name="aceptarTerminos"
        [(ngModel)]="registerO.aceptarTerminos"
      ></ion-checkbox>
      <ion-label class="label ion-margin"
        >Al registrarte, aceptas nuestra
        <a (click)="abrirPoliticas()" class="bottomLink"
          >politica de privacidad y tratamiento de datos</a
        >.</ion-label
      >
    </section>

    <section id="buttons">
      <div class="button" (click)="register(fRegister)">
        <label>Regístrate</label>
      </div>
    </section>
    <!-- <p style="text-align: center;">ó</p>
    <p>Escanea un código QR</p>
    <ion-img id="scan-icon" src="assets/images/scan-icon.png"></ion-img> -->
  </main>
</ion-content>
