ion-content.background {
  --background: url("/assets/images/fondo.svg");
}
p {
  text-align: left;
  // color: #353535;
  // margin-top: 10px;
  // margin-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}


#label {
  font-weight: 700;
  font-size: 18px;
  // text-align: center;
}
main {
  background-color: white;
  position: absolute;
  bottom: 0;
  border-radius: 10% 10% 0% 0%;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;

  max-height: 470px;
  overflow-y: auto;

  .info {
    display: flex;
    text-align: start;
    color: #275289;
    font-size: medium;
  }

  .horizontal-fields-container {
    display: flex;
    justify-content: space-between;
  }

  .item.horizontal-fields {
    flex-basis: calc(50% - 5px);
    margin-bottom: 10px;
  }

  .item.horizontal-fields-id {
    flex-basis: calc(100% - 5px);
    margin-bottom: 10px;
  }

  h1 {
    color: var(--ion-color-primary);
    font-weight: bold;
    font-size: 34px;
    margin-top: 15%;
  }

  p {
    font-family: "Quicksand Bold";
    padding-top: 50px;
  }
}

ion-content {
  --background: #bfbfbf;
  --keyboard-offset: 0px;
  --offset-bottom: 0px;
  --offset-top: 0px;
  --padding-bottom: 0px;
  // --padding-end: 3rem;
  // --padding-top: 0rem;
  // margin: 10% 10%;

  ion-list {
    background-color: transparent;
    padding: 3px;
  }

  ion-item.show-pass {
    position: relative;
    font-size: 0.8rem;
    margin: 10px 0 0 0;
    border-radius: 50px;
    right: 10px;
  }

  .item {
    ion-label {
      margin: 18px 0 3px 0;
      color: #275289;
      font-family: "Quicksand", sans-serif;
      font-weight: lighter;
    }

    ion-select {
      display: flex;
      align-items: center;
      position: relative;

      margin-top: 2px;
      text-align: start;
      border-radius: 100px;
      border: 1px solid #d8e7ee;
      font-size: 15px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    ion-input {
      display: flex;
      align-items: center;
      position: relative;

      margin-top: 2px;
      text-align: start;
      border-radius: 100px;
      border: 1px solid #d8e7ee;
      font-size: 15px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

      ion-icon.password-toggle-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }

    a {
      font-size: 15px;
      letter-spacing: 0.5px;
      text-decoration: none;
    }
  }

  .terms {
    margin: 20px 10px 10px 10px;

    .label {
      color: #275289;
      font-size: small;
    }
  }
}

#img-logo {
  height: 370px;
  // margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;

    margin: 15px 0px 0px auto;

    width: 100%;
    height: 50px;

    border-radius: 100px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    background-image: url("/assets/images/bg_btn_login.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    padding: 10px;

    label {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

#crearCuenta {
  font-weight: bold;
  font-size: 18px;
}

.bottomText {
  font-size: 13px;
  padding-left: 10px;
}

.bottomLink {
  text-decoration: underline;
}

ion-icon {
  font-size: 20px;
}
