p {
  text-align: left;
  // color: #353535;
}

#label{

  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5%;
  text-align: left;
  text-align: center;
}

// ion-toolbar{
//   --background: #f5f5f3;
// }

section {
  margin-bottom: 15px;
  background-color: var(--caja-color);
  border-radius: 20px;
  padding: 11px;
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.12);
  #listheader{
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    // color: var(--caja-text-color);
    color: var(--ion-color-primary);
  }

  #numeral  {
    font-size: 12px;
    margin-left: 3px;
    margin: 0px 3px 5px 0px;
  }

  .botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #quitar{
    font-size: 12px;
    margin-left: 3px;
    margin: 0px 3px;
    color: var(--ion-color-danger);
  }

  #anadir{
    font-size: 12px;
    margin-left: 3px;
    margin: 0px 3px;
    color: var(--ion-color-primary);
  }


  .desc{
    color: var(--desc-section);
    font-size: 12px;
  }
}

.lista{
  background-color: transparent;
}


ion-content.background{
  --background: url('/assets/images/fondo.svg') ;
}

ion-content{

  font-family: 'Arial';
  --background: #bfbfbf;
  ion-item{
    border-radius: 10px;
    height: 50px;
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.12);
    --highlight-height: 0px;
    margin-bottom: 10px;

    ion-input{
      font-size: 15px;
      --pading-top: 15px;
      --pading-bottom: 15px;
      --pading-start: 5px;
    }

    a {
      font-size: 15px;
      letter-spacing: 0.5px;
      text-decoration: none;
    }
  }

  .text_area{
    height: 80px;
  }


}

.btn-wrapper {
  text-align: end;
}

#enfermedades-popover{
  --width: 320px;
}
